* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}
/* @font-face {
  font-family: AldotheApache;
  src: url("./src/AldotheApache2.ttf");
} */

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Press Start 2P", cursive;
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
}

canvas {
  display: flex;
  align-content: center;
  justify-content: center;
}

.canvasDad {
  position: relative;
  display: flex;
  align-self: center;
}

.playAgain {
  display: absolute;
  left: 45%;
}

.gameOver {
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 700px;
  height: 50px;
  top: 400px;
  left: 37%;
  right: 0px;
  bottom: 0px;
  font-size: 76px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.hud {
  position: absolute;
  top: 20px;
  left: 15px;
  font-weight: bold;
  font-size: 32px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.hud2 {
  position: absolute;
  width: 700px;
  top: 2px;
  left: 100px;
}

.hud3 {
  position: absolute;
  top: 20px;
  left: 1320px;
  font-weight: bold;
  font-size: 32px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.hud4 {
  position: absolute;
  top: 2px;
  left: 1150px;
}

div[class*="container"] {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.containerDos {
  display: inline-block;
  background-color: black;
  position: relative;
}

.none {
  display: none !important;
}

.btn {
  position: relative;
  color: white;
  width: 264px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  font-size: 26px;
  font-family: "AldotheApache", sans-serif;
}

.btn div {
  transition: all 0.3s;
  transform: scale(1, 1);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}
.line::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}
.line::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
