@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}
html,
body {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
}

div[class*="container"] {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.container-2 {
  background-color: black;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.none {
  display: none !important;
}

.btn {
  position: relative;
  color: white;
  width: 264px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  font-size: 26px;
}

.btn div {
  transition: all 0.3s;
  transform: scale(1, 1);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
